:root {
    --nav-height: 100px;
}
body{
    margin: 0;
    padding: 0;
     padding-top: var(--nav-height);
}
*{
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.navbar{
    padding: 15px 0;
    background-color: #F5F3FF;
    border-bottom: 2px #DED6FF solid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
}
.flex-to-navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
width: 22px;
background-color: #8E51FF;
border-radius: 8px;
padding: 10px;
color: white;
}
.logo span{
    font-family: "Google Sans Flex", sans-serif;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(51, 51, 51);
}
.links{
    padding: 0 20px 0 0;
    /* background-color: red; */
}
.links ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0 30px 0 0 ;
    padding: 0;
    /* background-color: red; */
}
.links ul li:first-child a{
    color: #7F22FE;
    padding: 2px 0;
    border-bottom: #7F22FE 2px solid;
}
.links ul li a{
    text-decoration: none;
    color: rgb(51, 51, 51);
      line-height: 24px;
    font-size: 16px;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 500;
}

/* Start Hero Section */
.hero{
    padding: 72px 0;
}
.heroflex{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
.hero .img-border{
    width: 40%;
    /* background-color: #8E51FF; */
     border: 3px solid #E0E2E6;
    border-radius: 20px;
    padding: 15px;
    position: relative;
   
}
.hero .img-border img{
    width: 100%;
    border-radius: 20px;
   
}
.hero .img-border span{
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 5px 10px;
    background-color: #8E51FF;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-family: sans-serif;
}
.content-hero{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.product-info-span {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.product-info-span span{
    padding: 5px 10px;
    background-color: #A684FF;
    color: white;
    border-radius: 10px;
}
.content-hero h1{
    font-family: sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin: 0 ;
}
.content-hero h1 span{
    color: #A684FF;
}
.content-hero p{
font-size: 20px;
font-weight: 400;
line-height: 33px;
color: rgb(51, 51, 51);
    margin: 0 ;
}
.product-price{
    margin-top: 5px 0;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.product-price span:first-child{
font-size: 36px;
line-height: 40px;
font-weight: 700;
color: rgb(51, 51, 51);
margin: 0px 15px 0 0;
/* background-color: black; */
}
.product-price .old-price{
font-size: 24px;
line-height: 32px;
font-weight: 400;
color: rgb(51, 51, 51);
margin: 0px 7.5px;
}
.product-price .discount{
font-size: 14px;
line-height: 20px;
font-weight: 700;
font-family: sans-serif;
color: oklch(0.577 0.245 27.325);
background-color: #FFE2E2;
margin: 0 15px;
padding: 1px 10px;
border-radius: 10px;
}
.buttoms-for-hero{
    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
    /* background-color: #A684FF; */
}
.buttoms-for-hero .add-card{
    background-color: #8E51FF;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}
.buttoms-for-hero .wishlist-card{
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    padding: 10px 15px;
    border: 2px solid #D1D5DC;
    border-radius: 20px;
}
/* End Hero Section */
.comparison{
    background-color: #F7F5FF;  
    padding: 50px 0;
    
}
.comparison h2{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    /* background-color: red; */
    text-align: center;

}
.comparison .pargargh-comparison{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(51, 51, 51);
    text-align: center;
}
.comparison .compare{
    color: oklch(0.606 0.25 292.717);
}
.table-container{
    padding: 34px;
     border: 2px #D1D5DC solid;
     background-color: #ffffff;
     border-radius: 20px;
}
.comparison-table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}
table{
    overflow-y: auto;
}
.comparison-table th,
.comparison-table td {
  padding: 15px;
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.comparison-table th:first-child{
    text-align: start;
}
.comparison-table thead , .comparison-table tbody td {
  /* background-color: #8E51FF; */
  border-bottom: 1px solid #DADEE3;
}

.comparison-table th{
    padding-bottom: 30px;
}
.img-span-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.comparison-table p{
    margin: 2px 0;
    padding: 0;
}
.comparison-table thead th .subtitle{
    color: oklch(0.551 0.027 264.364);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

tr > :nth-child(2) {
  background-color: #EDE9FE;
}
thead tr > :nth-child(2) {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #7008E7;
}
thead tr > :nth-child(2) .subtitle{
      color: #8E51FF;

}
/* tbody tr:last-child > :nth-child(2) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */

.comparison-table td:first-child {
  font-weight: bold;
  text-align: left;
}

.comparison-table th {
  font-size: 18px;
}
.comparison-table td {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  padding: 20px 0;
}
.comparison-table  .our-product-row{
  background-color: #8E51FF;
   display: inline;
   padding: 5px 10px; 
   border-radius: 15px;
}
.comparison-table  .our-product-row span{
  /* padding: 5px 10px; */
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.comparison-table  .our-product-row img{
    width: 10px;
}

/* Price Row */

.comparison-table  .price-product-row span{
  /* padding: 5px 10px; */
  color: #7008E7;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-size: 25px;
}
.foot-price-cell{
    border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.foot-price-cell p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: rgb(51, 51, 51);
}
.red-color{
    color: #F54A00;
}
.bold-td span{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.align-center{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.align-center span{
    color: #F54A00;
}

/* Winner */
.wrap-winner-to-center{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
    
}
.winner{
    
   display: flex;
   align-items: center;
   gap: 20px;
  padding: 5px 15px;
  background: #FFFFFF;
  border-radius: 15px;
  border: 2px solid #E5E7EB;
}
.winner-content p{
 color: #00C950;
 font-size: 18px;
 line-height: 28px;
 font-weight: 700;
margin: 2px;
}
.winner-content .small-p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 0px;
    margin: 2px;
}


/* Start Customars Section */


.customers{
    padding: 50px 0;
}
.customers-h{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-align: center;
}
.customers-h span{
    color: #7F22FE;

}
.customers-p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-align: center;
}

/* Start revirew flex */
.revirew-flex{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    
}
.sidebar-sticky{
    background-color: #FFFFFF;
    position: sticky;
     top: 19px;
     align-self: flex-start;
     padding: 40px 30px;
     /* width: 50%; */
     border-radius: 1rem;
     border: 2px #E5E7EB solid;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}
.sidebar-sticky p{
    margin: 0;
    /* background-color: red; */
}
.sidebar-sticky .reviw-number{
    /* background-color: #00C950; */
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin: 5px;
}

.container-review-sidebar{
    padding: 30px 0;
}
.progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
/* .p-reviews{
    
    padding-bottom: 30px;
} */
.rate-number , .rate-presrnt{
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}
 .rate-presrnt{
    padding-left:10px;
    padding-right:10px;
 }
.progress{
width: 250px;
height: 10px;
background-color: #E5E7EB;
border-radius: 20px;
}
.progress-fill{
    height: 100%;
    width: 75%;
    background-color: #F0B100;
    border-radius: 30px;
}
.fill_15{
     width: 15%;
      height: 100%;
    background-color: #F0B100;
    border-radius: 30px;
}
.fill_5{
     width: 5%;
 height: 100%;
    background-color: #F0B100;
    border-radius: 30px;
}
.fill_2{
     width: 1.5%;
      height: 100%;
    background-color: #F0B100;
    border-radius: 30px;
}
.fill_1{
     width: .5%;
      height: 100%;
    background-color: #F0B100;
    border-radius: 30px;
}
.stat-number{
    /* background-color: red; */
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D1D5DC;
}
.stat-number .recommend , .stat-number .quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.stat-number .value , .stat-number .value{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: rgb(51, 51, 51);

}

/* End revirew flex */
.card-list-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.review-card{
    border: 2px solid #D1D5DC;
    border-radius: 20px;
    padding:25px;
    
}
.reviewer-info-Verified{
   
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
}
.reviewer-info{
    /* background-color: #00C950; */
    display: flex;
    gap: 15px;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
}
.reviewer-info .img-person{
    border-radius: 50%;
    border: 2px solid #A684FF;
    box-shadow: 0 0 0 2px black; 
}

.reviewer-info-name .name{
    
    margin-bottom: 5px;
}
.reviewer-info-name .jop{
    
    margin: 0;
}
/* .reviewer-info .img-border{
    border: 2px solid black;
    border-radius: 50%;
    
    padding: 0;
    margin: 0;
} */
 
/* .reviewer-Verified{
    background-color: blue;
} */
.reviewer-Verified .verified{
    margin: 0;
    background-color: #EDE9FE;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
line-height: 16px;
font-weight: 600;
color: oklch(0.432 0.232 292.759);
}

.reviewer-Verified .ago{
    margin: 0px;
     
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
line-height: 20px;
font-weight: 400;
color: rgb(51, 51, 51);
}
.p-reviewer{
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
/* End Customars Section */
/* Test */
